@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/*
=======================================
==>        Home and Logo
=========================================
*/
.section-container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

img {
  width: 7rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

/*
=======================================
==>        Media Query 
=========================================
*/
@media (max-width: 1605px) {
  img {
    width: 6rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
  }
}
