@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --main-dark-gray-bg: #2b2b2b;
  --main-light-gray-bg: #eaecef;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;
  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);
  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
}

/*=======================================
==> General Dark and Light Mode classes 
=========================================*/

.dark-mode {
  /* background: linear-gradient(to top left, #000000, #545454) !important;
  color: var(--main-light-gray-bg) !important;
  transition: all 0.5s; */
  --main-dark-gray-bg: #2b2b2b;
  --main-light-gray-bg: #eaecef;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;

  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);

  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
}

.light-mode {
  --title-dark-gray-color: #545454;
  --light-mode-bg: linear-gradient(to top left, #ffffff, #cfd2d6) !important;

  --foreground: var(--title-dark-gray-color);
  --background: var(--light-mode-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  -webkit-touch-callout: none;
  cursor: default;
}

h1,
h2,
h3 {
  color: var(--foreground);
}
li,
a {
  list-style: none;
  text-decoration: none;
  transition: 0.25ms;
}

a:hover {
  color: var(--gold-highlight-color);
}

#root {
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 99.9%;
  height: 100vh;
  will-change: transform, opacity;
}

#root::selection {
  background: var(--foreground);
}

#root::-moz-selection {
  background: var(--foreground);
  color: var(--background);
}
.simple-trans-main > div {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  background: var(--background) !important;
}

.home-logo-p {
  color: var(--foreground);
}

/*=======================================
==>   Right Navigation 
=========================================*/
.navigation-bar {
  position: absolute !important;
  top: 0;
  left: 76%;
  display: flex;
  flex-direction: row;
  z-index: 99;
  box-sizing: border-box;
  padding: 0.2rem;
}

.navigation-bar p,
.navigation-bar a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--foreground) !important;
  border: none;
  background-color: transparent;
  padding: 0.2rem;
  margin: 0.2rem;
  margin-top: 3.5rem;
  list-style: none;
  text-decoration: none;
  transition: 0.5s;
}

.navigation-bar a:hover,
.navigation-bar p:hover {
  cursor: pointer;
  box-shadow: inset 0 -5px 0 0 #e493129c;
}

/*=======================================
==>  End - Right Navigation 
=========================================*/

/*=======================================
==>  LightMode Top-Left-logo 
=========================================*/
#left-logo {
  position: absolute !important;
  top: 0;
  left: 3%;
  display: flex;
  flex-direction: row;
  z-index: 99;
}
#left-logo p {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -0.06rem;
  text-align: center;
  color: var(--foreground) !important;
  text-transform: uppercase;
  border: 0.2rem solid var(--title-dark-gray-color);
  border-radius: 0.3rem;
  padding: 0.1rem;
  background-color: transparent;
  margin: 0.5rem;
  margin-top: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#left-logo p span {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground);
  padding: 0.5rem;
  background-color: transparent !important;
  margin: 0.5rem;
  margin-top: 3rem;
}
/*=======================================
==>  END - LightMode Top-Left-logo 
=========================================*/

/*=======================================
==>  DarkMode Top-Left-logo 
=========================================*/

#dark-mode-left-logo {
  position: absolute !important;
  top: 0;
  left: 3%;
  display: flex;
  flex-direction: row;
  z-index: 99;
}

#dark-mode-left-logo p {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -0.06rem;
  text-align: center;
  color: var(--foreground) !important;
  text-transform: uppercase;
  border: 0.2rem solid var(--title-light-gray-color);
  border-radius: 0.3rem;
  padding: 0.1rem;
  background-color: transparent;
  margin: 0.5rem;
  margin-top: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#dark-mode-left-logo p span {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground) !important;
  padding: 0.5rem;
  background-color: transparent !important;
  margin: 0.5rem;
  margin-top: 3rem;
}

/*=======================================
==>  END - DarkMode Top-Left-logo 
=========================================*/

/*=======================================
==>  LightMode Bottom-Left-Icons 
=========================================*/

#left-icons {
  position: absolute !important;
  top: 80%;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  z-index: 99;
}

#left-icons p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 99;
  color: var(--foreground);
  padding: 0.3rem;
  cursor: pointer;
}

#left-icons p a {
  text-decoration: none;
  color: var(--foreground);
  transition: 0.5s;
}

#left-icons p a:hover {
  cursor: pointer;
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END -LightMode Bottom-Left-Icons 
=========================================*/

/*=======================================
==>  DarkMode Bottom-Left-Icons 
=========================================*/

#dark-mode-left-icons {
  position: absolute !important;
  top: 80%;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  z-index: 99;
}

#dark-mode-left-icons p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 99;
  color: var(--title-light-gray-color);
  padding: 0.3rem;
  cursor: pointer;
}
#dark-mode-left-icons p a {
  text-decoration: none;
  color: var(--title-light-gray-color);
}

#dark-mode-left-icons p a:hover {
  cursor: pointer;
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END -DarkMode Bottom-Left-Icons 
=========================================*/

/*=======================================
==>  LightMode Right-Bottom-Buttons  
=========================================*/

.btn-move-right {
  position: absolute;
  top: 91vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: #5454548c;
  color: var(--main-light-gray-bg);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.btn-move-left {
  position: absolute;
  top: 85vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: #5454548c;
  color: var(--main-light-gray-bg);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.btn-move-left:focus,
.btn-move-right:focus {
  outline: none;
}

.btn-move-left:hover,
.btn-move-right:hover {
  cursor: pointer;
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END - LightMode Right-Bottom-Buttons  
=========================================*/

/*=======================================
==>  DarkMode Right-Bottom-Buttons  
=========================================*/

.dark-mode-btn-move-right {
  position: absolute;
  top: 91vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: rgba(253, 251, 246, 0.657);
  color: var(--title-dark-gray-color);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dark-mode-btn-move-left {
  position: absolute;
  top: 85vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: rgba(253, 251, 246, 0.657);
  color: var(--title-dark-gray-color);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dark-mode-btn-move-left:focus,
.btn-move-right:focus {
  outline: none;
}

.dark-mode-btn-move-left:hover,
.btn-move-right:hover {
  cursor: pointer;
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END - DarkMode Right-Bottom-Buttons  
=========================================*/

/*=======================================
==>       Project Container 
=========================================*/
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 85vw;
  height: 75vh;
}

.card-one,
.card-two,
.card-three,
.card-four {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 47%;
  height: 48%;
  background-color: var(--background);
  overflow-x: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-one,
.card-three {
  margin-right: 1rem;
}

.projects-img-wrapper,
.projects-details {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.projects-img-wrapper {
  width: 45%;
}

.projects-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background) !important;
}

.details-title,
.details-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-title h1 {
  color: var(--foreground);
  font-size: 1.3em;
}
.details-desc {
  padding: 0 0.4em;
  color: var(--foreground);
}
.details-desc p {
  line-height: 1.5rem;
  font-size: 1em;
  padding: 1rem;
}

.details-featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--foreground);
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.details-btn-github,
.details-btn-demo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-btn-github button,
.details-btn-demo button {
  width: 70%;
  height: 2rem;
  background: var(--title-light-gray-color);
  border: none;
}

.details-btn-github button a,
.details-btn-demo button a {
  color: var(--main-light-gray-bg);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: ease-in-out 0.5s;
}

.details-btn-github button a:hover,
.details-btn-demo button a:hover {
  cursor: pointer;
  color: var(--dark-mode-bg) !important;
  background: transparent !important;
}

/*=======================================
==>  END - Project Container 
=========================================*/

/*====================
==> About Component  
====================*/

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  color: var(--foreground);
}

.about-left,
.about-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 100%;
  height: 100%;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.3rem;
}

.about-left-p,
#expo {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 5rem;
}
.about-left-p-2,
.about-left-p-3 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

.aboutText {
  position: "absolute";
  top: 50%;
  max-width: 90%;
  max-height: 60% !important;
  overflow-x: hidden;
}

.p-after-fe,
.p-after-be {
  font-size: 2.6rem !important;
  font-weight: 800 !important;
}

.p-after-fe-2,
.p-after-be-2 {
  font-size: 2.1rem !important;
  font-weight: 800 !important;
}

.p-after-fe::after {
  content: "";
  max-width: 22vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.8rem;
  margin-left: 5rem;
}

.p-after-be::after {
  content: "";
  max-width: 10.5vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.9rem;
  margin-left: 4.5rem;
}

.p-after-fe-2::after {
  content: "";
  max-width: 24vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.5rem;
  margin-left: 0rem;
}

.p-after-fe-3::after {
  content: "";
  max-width: 16vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.5rem;
  margin-left: 0rem;
}

.p-after-be-2::after {
  content: "";
  max-width: 21vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.5rem;
  margin-left: -5rem;
}
.about-left-p span {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}
.about-left-p-2 span,
.about-left-p-3 span {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.right-content {
  width: 99%;
  height: 100%;
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.3rem;
  padding: 1rem;
}

/*------------------------
=> Contact Page
--------------------------*/
#contactme {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: 70vh;
}
.contact-title {
  font-size: 7.8rem;
  text-transform: uppercase;
  margin: 0 !important;
  letter-spacing: 0.2rem;
}
.contact-title::after {
  content: "";
  max-width: 30vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.7rem;
  z-index: -1;
  margin-top: -2.9rem;
  margin-left: 0rem;
}

.container-contact {
  max-width: 70%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper-contact {
  display: grid;
  grid-template-columns: 1fr !important;
}

.contact {
  background: transparent;
  width: 25vw;
  padding: 1rem;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  background-color: transparent;
}
.contact form input,
.contact form textarea {
  width: 70%;
  padding: 1rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
}

#btn-form input {
  border: none;
  width: 30%;
  height: auto;
  padding: 1rem;
  background: var(--title-light-gray-color);
  color: var(--main-light-gray-bg);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: ease-in-out 0.5s;
}

#btn-form input:hover {
  cursor: pointer;
  color: var(--dark-mode-bg) !important;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #118506d3;
  color: #fff;
  display: none;
}

.error i {
  color: #f71212d5;
  font-size: 6px;
}

/*
=====================================
==>        Media Query 
=====================================
*/

/*
=====================================
==>        Max-Width: 1605px
=====================================
*/

@media (max-width: 1605px) {
  /*
=======================================
==>         Home Page
=========================================
*/
  .navigation-bar {
    top: -2%;
    left: 70%;
  }

  #left-logo,
  #dark-mode-left-logo,
  #left-icons,
  #dark-mode-left-icons {
    left: 2%;
  }

  #left-logo,
  #dark-mode-left-logo {
    top: -3%;
  }
  /*=======================================
==>  LightMode Right-Bottom-Buttons  
=========================================*/

  .btn-move-right {
    display: none;
  }

  .btn-move-left {
    display: none;
  }

  /*=======================================
==>  END - LightMode Right-Bottom-Buttons  
=========================================*/

  /*
=======================================
==>         About
=========================================
*/

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 70vh;
  }

  .about-left,
  .about-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.3rem;
  }

  .about-left-p,
  #expo {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 4rem;
  }
  .about-left-p-2 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 3.5rem !important;
  }

  .aboutText {
    max-width: 90%;
    min-height: 70% !important;
    overflow-x: hidden;
  }

  .p-after-fe,
  .p-after-be {
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  .p-after-fe-2,
  .p-after-be-2,
  .p-after-fe-3 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
  }

  .p-after-fe::after {
    max-width: 19vw;
    margin-top: -1.4rem;
    margin-left: 4.5rem;
  }

  .p-after-be::after {
    max-width: 9.5vw;
    margin-top: -1.5rem;
    margin-left: 4.1rem;
  }

  .p-after-fe-2::after {
    max-width: 22vw;
    border-radius: 1rem;
    margin-top: -1.2rem;
    margin-left: 0rem;
  }

  .p-after-fe-3::after {
    max-width: 19vw;
    margin-top: -1.5rem;
    margin-left: 0rem;
  }

  .p-after-be-2::after {
    display: none;
  }
  .about-left-p span {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .about-left-p-2 span {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
  }

  .right-content {
    width: 99%;
    height: 100%;
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.3rem;
    padding: 1rem;
  }

  /*
=======================================
==>         Projects
=========================================
*/

  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;
    height: 78vh;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    width: 48%;
  }

  .card-one,
  .card-three {
    margin-right: 1rem;
  }

  .projects-img-wrapper,
  .projects-details {
    width: 45%;
  }

  .projects-details {
    width: 55%;
  }

  .details-title,
  .details-desc {
    width: 100%;
  }
  .details-title {
    height: 1.8rem;
  }
  .details-desc {
    padding: 0 0.4em;
    color: var(--foreground);
    height: 45%;
  }

  /*=======================================
==>  END - Project Container 
=========================================*/
}

/*
=======================================
==>        Max-Width: 1305px
=========================================
*/
@media (max-width: 1405px) {
  .navigation-bar {
    top: -2%;
    left: 65%;
  }

  /*
=======================================
==>         Projects - 1305px
=========================================
*/

  .projects-img-wrapper,
  .projects-details {
    width: 100%;
  }

  /*
=======================================
==>         Contact
=========================================
*/

  .contact-title {
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0 !important;
    letter-spacing: 0.1rem;
  }
  .contact-title::after {
    content: "";
    max-width: 30vw;
    height: 1px !important;
    background: #dd9116b6;
    border-radius: 1rem;
    display: block;
    padding: 0.5rem;
    z-index: -1;
    margin-top: -2.5rem;
    margin-left: 0rem;
  }
  #btn-form input {
    width: 40%;
  }
}

/*
=======================================
==>        Max-Width: 1100px
=========================================
*/
@media (max-width: 1110px) {
  .navigation-bar {
    top: -2%;
    left: 60%;
  }
  .contact-title {
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0 !important;
    letter-spacing: 0.1rem;
  }
  .contact-title::after {
    content: "";
    max-width: 33vw;
    z-index: -1;
    margin-top: -2.5rem;
    margin-left: 0rem;
  }
  #btn-form input {
    width: 50%;
  }
  .wrapper-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper-contact > * {
    padding: 1em;
  }

  /*
=======================================
==>         About
=========================================
*/

  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
    height: 100%;
  }

  .right-content {
    padding: 0.5rem;
  }
}

/*
=======================================
==>        Max-Width: 750px
=========================================
*/
@media (max-width: 750px) {
  .wrapper-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper-contact > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/*
=======================================
==>        Animations  
=========================================
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.delay-2s {
  -webkit-animation-delay: calc(1s * 2);
  animation-delay: calc(1s * 2);
  -webkit-animation-delay: calc(1s * 2);
  animation-delay: calc(1s * 2);
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/************************
=       Fade Right
*************************/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/************************
=       Fade Left
*************************/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/************************
=       Fade UP
*************************/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    /*visibility: visible;*/
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*
=======================================
==>        END-Animations  
=======================================
*/
