@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --main-dark-gray-bg: #2b2b2b;
  --main-light-gray-bg: #eaecef;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;
  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);
  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
}

/*=======================================
==> General Dark and Light Mode classes 
=========================================*/

.dark-mode {
  /* background: linear-gradient(to top left, #000000, #545454) !important;
  color: var(--main-light-gray-bg) !important;
  transition: all 0.5s; */
  --main-dark-gray-bg: #2b2b2b;
  --main-light-gray-bg: #eaecef;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;

  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);

  --background: var(--dark-mode-bg);
  --foreground: var(--title-light-gray-color);
}

.light-mode {
  --title-dark-gray-color: #545454;
  --light-mode-bg: linear-gradient(to top left, #ffffff, #cfd2d6) !important;

  --foreground: var(--title-dark-gray-color);
  --background: var(--light-mode-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

h1,
h2,
h3 {
  color: var(--foreground);
}
li,
a {
  list-style: none;
  text-decoration: none;
  transition: 0.25ms;
}

#root {
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#root::selection {
  background: var(--foreground);
}

#root::-moz-selection {
  background: var(--foreground);
  color: var(--background);
}
.simple-trans-main > div {
  position: absolute;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  background: var(--background) !important;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.home-logo-p {
  color: var(--foreground);
}

.navigation-bar {
  position: absolute !important;
  top: 0;
  left: 78%;
  display: flex;
  flex-direction: row;
  z-index: 99;
  box-sizing: border-box;
}

.navigation-bar p,
.navigation-bar a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--foreground) !important;
  border: none;
  background-color: transparent;
  padding: 0.2rem;
  margin: 0.2rem;
  margin-top: 3.5rem;
  list-style: none;
  text-decoration: none;
}

.navigation-bar p:hover {
  cursor: pointer;
  color: var(--gold-highlight-color);
}

/*=======================================
==>  LightMode Top-Left-logo 
=========================================*/
#left-logo {
  position: absolute !important;
  top: 0;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: row;
  z-index: 99;
}
#left-logo p {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -0.06rem;
  text-align: center;
  color: var(--foreground) !important;
  text-transform: uppercase;
  border: 0.2rem solid var(--title-dark-gray-color);
  border-radius: 0.3rem;
  padding: 0.1rem;
  background-color: transparent;
  margin: 0.5rem;
  margin-top: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#left-logo p span {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground);
  padding: 0.5rem;
  background-color: transparent !important;
  margin: 0.5rem;
  margin-top: 3rem;
}
/*=======================================
==>  END - LightMode Top-Left-logo 
=========================================*/

/*=======================================
==>  DarkMode Top-Left-logo 
=========================================*/

#dark-mode-left-logo {
  position: absolute !important;
  top: 0;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: row;
  z-index: 99;
}

#dark-mode-left-logo p {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -0.06rem;
  text-align: center;
  color: var(--foreground) !important;
  text-transform: uppercase;
  border: 0.2rem solid var(--title-light-gray-color);
  border-radius: 0.3rem;
  padding: 0.1rem;
  background-color: transparent;
  margin: 0.5rem;
  margin-top: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#dark-mode-left-logo p span {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground) !important;
  padding: 0.5rem;
  background-color: transparent !important;
  margin: 0.5rem;
  margin-top: 3rem;
}

/*=======================================
==>  END - DarkMode Top-Left-logo 
=========================================*/

/*=======================================
==>  LightMode Bottom-Left-Icons 
=========================================*/

#left-icons {
  position: absolute !important;
  top: 80%;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  z-index: 99;
}

#left-icons p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 99;
  color: var(--foreground);
  padding: 0.3rem;
  cursor: pointer;
}

#left-icons p a {
  text-decoration: none;
  color: var(--foreground);
  transition: 0.5s;
}

#left-icons p a:hover {
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END -LightMode Bottom-Left-Icons 
=========================================*/

/*=======================================
==>  DarkMode Bottom-Left-Icons 
=========================================*/

#dark-mode-left-icons {
  position: absolute !important;
  top: 80%;
  left: 3%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  z-index: 99;
}

#dark-mode-left-icons p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 99;
  color: var(--title-light-gray-color);
  padding: 0.3rem;
  cursor: pointer;
}
#dark-mode-left-icons p a {
  text-decoration: none;
  color: var(--title-light-gray-color);
}

#dark-mode-left-icons p a:hover {
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END -DarkMode Bottom-Left-Icons 
=========================================*/

/*=======================================
==>  LightMode Right-Bottom-Buttons  
=========================================*/

.btn-move-right {
  position: absolute;
  top: 91vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: #5454548c;
  color: var(--main-light-gray-bg);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.btn-move-left {
  position: absolute;
  top: 85vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: #5454548c;
  color: var(--main-light-gray-bg);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.btn-move-left:focus,
.btn-move-right:focus {
  outline: none;
}

.btn-move-left:hover,
.btn-move-right:hover {
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END - LightMode Right-Bottom-Buttons  
=========================================*/

/*=======================================
==>  DarkMode Right-Bottom-Buttons  
=========================================*/

.dark-mode-btn-move-right {
  position: absolute;
  top: 91vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: rgba(253, 251, 246, 0.657);
  color: var(--title-dark-gray-color);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dark-mode-btn-move-left {
  position: absolute;
  top: 85vh;
  left: 95vw;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;
  background-color: rgba(253, 251, 246, 0.657);
  color: var(--title-dark-gray-color);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dark-mode-btn-move-left:focus,
.btn-move-right:focus {
  outline: none;
}

.dark-mode-btn-move-left:hover,
.btn-move-right:hover {
  color: var(--gold-highlight-color);
}

/*=======================================
==>  END - DarkMode Right-Bottom-Buttons  
=========================================*/

/*=======================================
==>       Project Container 
=========================================*/
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 85vw;
  height: 70vh;
}

.card-one,
.card-two,
.card-three,
.card-four {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 47%;
  height: 47%;
  background-color: var(--background);
  overflow-x: hidden;
  /* border: 1px solid #9e9d9d; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-one,
.card-three {
  margin-right: 1rem;
}

.projects-img-wrapper,
.projects-details {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.projects-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background) !important;
}

.details-title,
.details-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-title h1 {
  color: var(--foreground);
  font-size: 1.3em;
}
.details-desc {
  padding: 0 0.4em;
  color: var(--foreground);
}
.details-desc p {
  line-height: 1.5rem;
  font-size: 1em;
  padding: 1rem;
}

.details-featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--foreground);
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.details-btn-github,
.details-btn-demo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-btn-github button,
.details-btn-demo button {
  width: 70%;
  height: 2rem;
  background: var(--title-light-gray-color);
  border: none;
}

.details-btn-github button a,
.details-btn-demo button a {
  color: var(--main-light-gray-bg);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: ease-in-out 0.5s;
}

.details-btn-github button a:hover,
.details-btn-demo button a:hover {
  color: var(--dark-mode-bg) !important;
  background: transparent !important;
}

/*=======================================
==>  END - Project Container 
=========================================*/

/*====================
==> About Component  
====================*/

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  color: var(--foreground);
}

.about-left,
.about-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  width: 100%;
  height: 100%;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.3rem;
}

.about-left-p,
#expo {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 5rem;
}
.about-left-p-2 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

.aboutText {
  position: "absolute";
  top: 50%;
  max-width: 90%;
  max-height: 60% !important;
  overflow-x: hidden;
}

.p-after-fe,
.p-after-be {
  font-size: 2.6rem !important;
  font-weight: 800 !important;
}

.p-after-fe-2,
.p-after-be-2 {
  font-size: 2.1rem !important;
  font-weight: 800 !important;
}

.p-after-fe::after {
  content: "";
  max-width: 22vw;
  height: 1px !important;
  background: #f1be6db6;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.8rem;
  margin-left: 5rem;
}

.p-after-be::after {
  content: "";
  max-width: 10.5vw;
  height: 1px !important;
  background: #f1be6db6;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.9rem;
  margin-left: 4.5rem;
}

.p-after-fe-2::after {
  content: "";
  max-width: 24vw;
  height: 1px !important;
  background: #f1be6db6;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.5rem;
  margin-left: 0rem;
}

.p-after-be-2::after {
  content: "";
  max-width: 21vw;
  height: 1px !important;
  background: #f1be6db6;
  display: block;
  padding: 0.2rem;
  z-index: -1;
  margin-top: -1.5rem;
  margin-left: -5rem;
}
.about-left-p span {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}
.about-left-p-2 span {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.right-content {
  width: 99%;
  height: 100%;
  /* background-color: var(--title-dark-gray-color); */
  color: var(--background);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.3rem;
  padding: 1rem;
}

/*------------------------
=> Contact Page
--------------------------*/

.contact-title {
  font-size: 8rem;
  text-transform: uppercase;
}
