html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.simple-trans-main > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
  
}

.btn-move-right{
  position: absolute;
  top: 50vh; 
  left: 95vw;
  width: 5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;  
  background-color: #ce1cb049;
  color: #ffffff;
  border: none; 
  border-radius: 5px;

}

.btn-move-left{
  position: absolute;
  top: 50vh; 
  left: 1vw;
  width: 5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 500;  
  background-color: #ce1cb049;
  color: #ffffff;
  border: none; 
  border-radius: 5px;
}


